

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>EVENTS</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <%= csrf_meta_tags %>

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>


     <%= stylesheet_link_tag    "gmaps4rails" %>
  

  	<%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "gmaps4rails" %>
    <%= javascript_include_tag "application" %>

  	<%= javascript_include_tag "vendor/custom.modernizr" %>
 
  </head>

  <body>

    <%= yield %>

    
  </body>


<footer>
	<%= yield :scripts %>
</footer>

</html>
